.button{
  color: rgb(122, 122, 122) !important;
  font-weight: 500 !important;
}

.button:hover{
  background-color: #0a0e15 !important;
}

.active{
  background-color: #0a0e15 !important;
  color: #ecbe04 !important;
}