.tableRow{
  background-color: #0a0e15;
  cursor: pointer;
  font-size: 14px;
}

.row:hover{
  background-color: #0a0e15;
}

.row{
  line-height: 40px;
}

.table{
  border-color: rgb(122, 122, 122) !important;
}

