.tableRow{
  background-color: #0a0e15;
  cursor: pointer;
  font-size: 14px;
}

.row:hover{
  background-color: #0a0e15;
}

.row{
  line-height: 40px;
}

.table{
  border-color: rgb(122, 122, 122) !important;
}

.highlitedContainer{
  background-color: #0a0e15;
  border-radius: 15px;
  padding-left: 5px;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 15px;
}

.header{
  color: rgb(122, 122, 122);
  font-weight: 500;
  font-size: 14px
}

.container{
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 8px;
  border-radius: 10px;
  align-items: center;
}

.left {
  flex: 1;
}

.center {
  flex: 1;
  text-align: center;
}

.right {
  flex: 1;
  text-align: right;
}

.highlitedContainer:hover{
  background-color: rgb(25, 25, 25);
}

.container:hover{
  background-color: #0a0e15;
}