@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.loginLayout{
  height: 100vh;
  background-color: #0F1319;
  color: white;
}

.loginButton{
  background-color: #ecbe04 !important;
  color: white !important;
  width: 100%;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif !important;
}

.loginButton:hover{
  background-color: #ecbe04c5 !important ;
}

.loginInput{
  background-color: #1F2329 !important;
  border-color: #1B1F25 !important;
  color: white !important;
}

.loginInput:focus{
  box-shadow: 0 0 0 0.15rem rgb(166, 166, 166) !important;
}

.loginLabel{
  color: #4d5056 !important;
  font-family: 'Poppins', sans-serif !important;
}

.resetPassword{
  color: #606469;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.resetPassword:hover{
  color: rgb(166, 166, 166);
}