.container{
  background-color: #0F1319;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loadingTable{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}