.container{
  min-height: 100vh;
  margin-top: 60px;
  border-top: 5px solid var(--theme-dark);
  background-color: #0F1319;
  
}
@media screen and (min-width: 1000px){
  .container{
    border-top: 2px solid var(--border-dark);
  }
}