@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
}

.navbar-color{
  background-color: #0a0e15;
  color: white;
  height: 66px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}