@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
  margin: 0;
  ::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, var(--theme-dark) 0, var(--theme-dark) 60px, var(--theme-primary) 60px);
  }
  
}

body{
  overflow-y: scroll;
}